<button mat-button [matMenuTriggerFor]="main_menu">{{ selectedValue }}</button>
<mat-menu #main_menu="matMenu">
	<ng-container *ngFor="let item of items">
      <!-- Handle branch node buttons here -->
      <ng-container *ngIf="item.subItems && item.subItems.length > 0">
        <button
          mat-button
          [matMenuTriggerFor]="menu.childMenu"
          [disabled]="item.disabled"
        >
          {{item.name}}
        </button>
        <app-menu-item #menu [items]="item.subItems"></app-menu-item>
      </ng-container>
      <!-- Leaf node buttons here -->
      <ng-container *ngIf="!item.subItems || item.subItems.length === 0">
        <button mat-button color="primary">
          {{item.name}}
        </button>
      </ng-container>
	</ng-container>
</mat-menu>